<div class="container mt-4">
  <h1 class="mb-4">Posts</h1>

  <div *ngIf="posts.length === 0" class="alert alert-info">
    No posts available.
  </div>

  <div class="row">
    <div *ngFor="let post of posts" class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Title: {{post.title}}</h5>
          <p class="card-text">Body: {{post.body}}</p>
          <p class="card-text">Time: {{post.time}}</p>
          <p class="card-text">Likes: {{post.likes}}</p>
          <p class="card-text">Shares: {{post.share}}</p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-success btn-sm" >Like</button>
            <button class="btn btn-info btn-sm">Share</button>
          </div>
          <div class="d-flex justify-content-between mt-3">
            <button class="btn btn-primary btn-sm" (click)="editPost(post.id)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deletePost(post.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
